[Unit]
Description=Gracefully stop MicroK8s before shutdown
DefaultDependencies=yes
ConditionPathExists=/snap/bin/microk8s
Requires=snapd.service
After=snapd.service local-fs.target network-online.target
Before=umount.target shutdown.target reboot.target halt.target poweroff.target

[Service]
Type=oneshot
ExecStart=/usr/bin/true
ExecStop=/usr/bin/timeout --signal=TERM 75 /bin/sh -c '/snap/bin/microk8s stop || /usr/bin/snap stop microk8s'
TimeoutStopSec=90
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
